RewriteEngine On # Hilangkan .html dari URL RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f RewriteRule ^([^/]+)$ $1.html [L] # Redirect
dari URL lama dengan .html ke URL tanpa .html RewriteCond %{THE_REQUEST}
^[A-Z]{3,}\s([^.]+)\.html\sHTTP/ RewriteRule ^(.+)\.html$ /$1 [R=301,L]
